#navbar {
    width: 100%;
    height: 12.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    padding: 5px 20px;
    background: linear-gradient(to right top, #2dbfc7, #5696d5);
}

#navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#welcome {
    background: linear-gradient(to right top, #7a7b7a, #5a93f8);
}

#welcome header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#welcome img {
    width: 35%;
    height: 35%;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 12px;
    background-color: #ffe1bf;
    transform: rotateZ(-5deg);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
}

#welcome h2 {
    font-size: 3.5rem;
    margin: 0 0 0 1rem;
    color: #e4e4e4;
    width: 10rem;
}

#welcome p {
    color: black;
    font-size: 45px;
    text-align: center;
    margin-bottom: 7.5%;
}

#latest-posts {
    background-color: gray;
    padding: 2rem;
    border-radius: 12px;
    width: 95%;
    margin: 10px auto;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, .4);
}

#latest-posts h2 {
    text-align: center;
}

#latest-posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    /*float: left;*/
    text-align: center;
}

#latest-posts li {
    /*flex: 1;*/
    border-radius: 15px;
    text-align: center;
    align-self: center;
    width: 99%;
}

#latest-posts li article {
    width: 100%;
    /*float: left;*/
    text-align: center;
}

#about {
    text-align: center;
    padding: 3rem;
    background-color: rgba(131, 133, 134, 1);
    /*background-color: black;*/
    margin-top: 5rem;
}

#about h3 {
    font-size: 40px;
    font-weight: bold;
}

#about p {
    font-size: 20px;
    color: black;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.post a {
    text-decoration: none;
    color: black;
    transition: all ease .2s;
    padding: 0.5rem;
}

.post a:active,
.post a:hover {
    transform: scale(1.1);
    background-color: #0090ff;
    color: white;
    border-radius: 12px;
}

.post img {
    width: 9.5% ;
    border-radius: 20px;
}

.post a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    transform-origin: center;
}

.border {
    margin: 5px;
    padding: 15px;
    border: black 4px solid;
    outline: white 2px solid;
    box-shadow: rgba(255, 255, 2551) 0 3px 8px 0;
}

.icons {
    display: flex;
    column-gap: 25px;
}
.icon {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    /* color: white; */
    border-radius: 50%;
    outline: white 2px solid;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}
.icon:hover{
    outline-offset: 4px;
}

.icon:hover i{
    animation: shake 0.25s;
}

.icon--item:hover{
    /* background-color: #2ea; */
    outline-color: #2ea;
}
@keyframes shake {
    10%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}