{% load static %}
<header id="navbar">
    <nav>
        <h1><a href="{% url 'main-page' %}"> BGOPC </a> </h1>
    </nav>
    {% if user  != None %}
    <a href="{% url 'profile-page' uid=user.nickname %}">
        <div class="flex items-center space-x-4">
            <img class="w-10 h-10 rounded-full" src="{{ user.image.url }}" alt="">
            <div class="space-y-1 font-medium dark:text-white">
                <div>{{ user }}</div>
                <div class="text-sm text-gray-500 dark:text-white">Joined in {{ user.join.date }}</div>
            </div>
        </div>
    </a>
    {% else %}
    <a href="{% url 'posts-page' %}"><b class="hover:font-bold hover:text-slate-800"> All Posts </b></a>
    <a href="{% url 'login' %}"><img class="w-10 h-10 rounded-full" src="{% static 'user/unknown.png' %}" alt="Blank Avatar"></a>
    {% endif %}


</header>