{% load static %}
<header id="navbar">
    <nav>
        <h1><a href="{% url 'main-page' %}"> BGOPC </a> </h1>
    </nav>
    {% if user  != None %}
    <a href="{% url 'profile-page' uid=user.nickname %}">
        <div class="flex items-center space-x-4">
            {% if user.image != "" %}
            <img src="{{ user.image.url }}" alt="{{ user.nickname }} image" width="80px"
                 class=" shadow-2xl hidden rounded lg:block">
        {% else %}
            <img src="{% static 'user/unknown.png' %}" width="80px" class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block"
                 alt="{{ user.nickname }}">
        {% endif %}            <div class="space-y-1 font-medium dark:text-white">
                <div>{{ user }}</div>
                <div class="text-sm text-gray-500 dark:text-white">Joined in {{ user.join.date }}</div>
            </div>
        </div>
    </a>
    {% else %}
    <a href="{% url 'posts-page' %}"><b class="hover:font-bold hover:text-slate-800"> All Posts </b></a>
    <a href="{% url 'login' %}"><img class="w-10 h-10 rounded-full" src="{% static 'user/unknown.png' %}" alt="Blank Avatar"></a>
    {% endif %}


</header>