{% load static %}

<li class="rounded">
    <article class="post rounded">
        <a class="rounded  p-4" href="{% url 'post-detail' slug=post.slug %}">
            <div class="rounded post_content">
                <h3>{{ post.title|title }}</h3>
                <p>{{ post.short_desc }}</p>
                by <strong>{{ post.author.nickname }}</strong> at <time> {{ post.date}} </time>
            </div>
            {% if  post.image != '' or ''%}
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            {% endif %}

        </a>
    </article>
{#    <hr>#}
</li>
<style>
    li{
        width: 100%;
     }
    article{
        width: 100%;
     }
    a {
    border-radius: 11px;
    margin-bottom: 10px;
     }
</style>