{% extends '_layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock styles %}

{% block title %}
New Post
{% endblock %}

{% block content %}
<div class="w-full bg-gray-800 h-screen">
    <div class="bg-gradient-to-b from-blue-800 to-blue-600 h-96"></div>
    <div class="max-w-5xl mx-auto px-6 sm:px-6 lg:px-8 mb-12">
        <div class="bg-gray-900 w-full shadow rounded p-8 sm:p-12 -mt-72">
            <p class="text-3xl font-bold leading-7 text-center text-white">New Post</p>
            <br>
            <hr>
            <br>
            <form action="" method="post" enctype="multipart/form-data">
                <div class=" items-center">
                    <div class="w-full flex flex-col">`
                        <label class="font-semibold leading-none text-gray-300 text-center">Post Name</label>
                        {{ form.title }}
                    </div>
                    <br>
                    <div class="w-full flex flex-col ">
                        <label class="font-semibold leading-none text-gray-300 text-center">Post Short Description</label>
                       {{ form.short_desc }}
                    </div>
                </div>
                <div class="md:flex items-center mt-8">
                    <div class="w-full flex flex-col">
                        <label class="font-semibold leading-none text-gray-300 text-center ">Post Image (Important and Required)</label>
                        {{ form.image }}
                    </div>
                </div>
                <br>
                <hr>
                <div>
                    <div class="w-full flex flex-col mt-8">
                        <label class="font-semibold leading-none text-gray-300 text-center">Story</label>
                        {{ form.main_desc }}
                    </div>
                </div>
                <div class="flex items-center justify-center w-full">
                    <input type="submit"class="mt-9 font-semibold leading-none text-white py-4 px-10 bg-blue-700 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none"/>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}