{% extends '_layout.html' %}
{% load static  %}
{% block title %}
Signup
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href='{% static "blog/index.css" %}'>
<link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">

{% endblock styles %}

{% block content %}
<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
    {% if error != None %}
        <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
            <p>{{ error }}</p>
            
        </div>
    {% endif %}
    {% csrf_token %}
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name">
          Full Name
        </label>
        {{ lf.name }}
        <p class="text-red-500 text-xs italic">Please fill out this field.</p>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="nc">
          Nick Name
        </label>
        {{ lf.nickname }}
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="pw">
          Password
        </label>
        {{ lf.password }}
        <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="img">
          Profile Image
        </label>
        {{ lf.image }}
      </div>
    </div>
    <input value="Sign Up" class="shadow bg-purple-400 hover:bg-purple-300 focus:shadow-outline focus:outline-none text-white hover:text-gray-800  font-bold py-2 px-4 rounded content-center" type="submit">
    <div class="flex items-baseline justify-center">
      <a href="{% url 'login' %}" class="text-blue-500 hover:text-blue-700 font-bold py-2 px-4 rounded">
      Already have an account?
      Login
      </a>
  </div>
  </form>
{% endblock content %}